.article {
  background-color: $white;
  padding: $size-scale-500;
  margin-top: auto;
  margin-bottom: auto;
  min-height: calc(100vh - 318.4px);
  border: 1px solid $primary-glare;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  @include respond-to("medium") {
    padding: $size-scale-800;
  }

  .column {
    position: relative;
    &:last-of-type {
      &:before {
        position: absolute;
        top: 0;
        content: "";
        display: block;
        background-color: $border;

        @include respond-to("medium") {
          left: -1.5rem;
          width: 1px;
          height: 100%;
        }
      }
    }
  }
}
