// Global styles start

body {
  background: $body-colour;
  color: $text;
  font-family: $family-primary;
  line-height: $leading-loose;
  font-weight: $normal;

  @include fluid-font(3vw, 1em, 1.125em, 17px);
  text-rendering: optimizeSpeed;

  &.noScroll {
    overflow: hidden;
  }
}

a:not([class]) {
  color: $link;

  text-decoration-color: $link;

  &:hover {
    color: $link-hover;

    text-decoration-color: $link;
    transition: 0.3s;
  }
}

:focus {
  outline: 2px dashed $link;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  line-height: $leading-flat;
}

::selection {
  background: rgba($secondary-glare, 0.99);
  color: $black;
}
