.hero,
h1,
h2,
h3,
h4 {
  color: $secondary-shade;
}

h1,
.h1 {
  font-size: clamp(1.944rem, 1.7884rem + 0.778vw, 2.333rem);
}

h2,
.h2 {
  font-size: clamp(1.62rem, 1.4904rem + 0.648vw, 1.944rem);
}

h3,
.h3 {
  font-size: clamp(1.35rem, 1.242rem + 0.54vw, 1.62rem);
}

.small {
  font-size: clamp(0.781rem, 0.7182rem + 0.314vw, 0.938rem);
}
