<article aria-label="Body Content">
  <div class="wrapper">
    <div class="article columns col-offset">
      <div class="column content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
      <div class="column content">
        <aside class="flow">
          <h3>Testimonials</h3>
          <blockquote class="flow__sm">
            <p class="citation">Clear treatment plan with measured performance to assess progress; all with a personal touch.</p>
            <p class="author">A. Ollerenshaw</p>
          </blockquote>
          <blockquote class="flow__sm">
            <p class="citation">Never had treatment before where I have actually felt the change and benefit. Headaches improved rapidly!</p>
            <p class="author">A. Stirzaker</p>
          </blockquote>
        </aside>
      </div>
    </div>
  </div>
</article>